@import "../assets/mixin.scss";

.achievement {
  max-width: 1200px;

  padding: 0 16px;

  margin: 0 auto;

  margin-bottom: 100px;

  @include responsive(tablet) {
    margin-bottom: 50px;
  }
  @include responsive(phone) {
    margin-bottom: 20px;
  }
  &-name {
    color: var(--grayscale-black, #000);

    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

    margin-bottom: 40px;

    @include responsive(tablet) {
      margin-bottom: 20px;
    }
  }

  .contents {
    .content {
      display: flex;
      align-items: center;

      margin-bottom: 40px;

      max-width: 100%;

      @include responsive(desktop) {
        align-items: flex-start;
      }

      @include responsive(tablet) {
        flex-direction: column;

        margin-bottom: 20px;
      }

      @include responsive(phone) {
        margin-bottom: 10px;
      }
      &-img {
        margin-right: 120px;

        img {
          max-width: 100%;
        }

        @include responsive(desktop) {
          margin-right: 30px;
        }

        @include responsive(tablet) {
          margin: 0;
        }
      }
      &-text {
        &__title {
          color: var(--grayscale-50, #333);

          font-family: "Poppins";
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;

          margin: 0px 0px 20px 0px;

          @include responsive(tablet) {
            font-size: 20px;

            text-align: center;

            margin: 10px 0;
          }

          @include responsive(phone) {
            font-size: 18px;
          }
        }
        &__subtitle {
          color: var(--grayscale-10, #9c9c9c);

          font-family: "Poppins";
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%; 

          @include responsive(tablet) {
            text-align: center;

            font-size: 16px;
          }
          @include responsive(phone) {
            font-size: 14px;
          }
        }
      }
    }
    .content:nth-child(3) {
      margin-bottom: 0;
    }
  }
}
