@import "./mixin.scss";

.base-banner {
  max-width: 1200px;

  margin: 0 auto;

  margin-bottom: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: var(--grayscale-black, #000);

    /* Poppins/Bold/56 */
    font-family: "Poppins";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 78.4px */

    margin-bottom: 36px;

    @include responsive(phone) {
      width: auto;

      margin-bottom: 20px;

      font-size: 28px;
    }
  }

  &__subtitle {
    color: var(--grayscale-black, #000);
    text-align: center;

    /* Poppins/Regular/18 */
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */

    width: 582px;

    margin-bottom: 86px;

    @include responsive(phone) {
      width: auto;

      margin-bottom: 20px;
    }
  }

  &__img {

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
