@import "../assets/mixin.scss";
.footer {
  max-width: 1200px;
  margin: 0 auto;

  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  @include responsive(tablet) {
    flex-direction: column;
    align-items: center;
  }
  .left-block {
    @include responsive(tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__img {
    }
    &__title {
      color: var(--grayscale-50, #333);

      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 170%;

      @include responsive(tablet) {
        font-size: 28px;
        line-height: 100%;

        margin-bottom: 10px;
      }

      @include responsive(phone) {
        font-size: 22px;
      }
    }
  }
  .right-block {
    &__text {
      color: var(--grayscale-50, #333);

      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;

      svg {
        margin-right: 10px;
      }
    }
    &__input {
      color: var(--grayscale-lightray, #d9d9d9);

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;

      border: none;

      width: 400px;

      @include responsive(phone) {
        width: auto;
      }
    }
    &__line {
      width: 440px;
      height: 2px;

      margin-top: 20px;

      background: #141414;

      margin-bottom: 40px;

      @include responsive(phone) {
        width: auto;
      }
    }
    &__follow {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      position: absolute;
      right: 0;
      @include responsive(tablet) {
        right: 20px;
      }
      .follow-text {
        margin-top: 0;
        margin-bottom: 15px;

        color: var(--grayscale-50, #333);

        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
      }
      .social-list {
        display: flex;
        align-items: center;
        list-style-type: none;

        padding: 0;
        margin: 0;
        &__item {
          margin-right: 33px;
        }
        &__item:nth-child(4) {
          margin-right: 0px;
        }
      }
    }
  }
}
