@import "./mixin.scss";

.product {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &-choose {
    width: 100%;
    &__name {
      color: var(--grayscale-50, #333);
    
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; 

      @include responsive(tablet) {
        margin-bottom: 20px;
      }
    }
    &__text {
      display: flex;
      justify-content: space-between;
      width: 100%;

      @include responsive(tablet) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .title {
        color: var(--grayscale-50, #333);

        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 170%; 

        width: 337px;

        margin-bottom: 30px;

        @include responsive(tablet) {
          font-size: 30px;

          width: auto;

        }

        @include responsive(phone) {
          font-size: 22px;
          line-height: 100%;

          width: auto;
        }
      }
      .subtitle {
        color: var(--grayscale-10, #9c9c9c);

       
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 28.8px */

        width: 473px;

        display: block;

        @include responsive(tablet) {
          font-size: 16px;

          width: auto;

          text-align: center;
          
        }

        @include responsive(phone) {
            margin-bottom: 20px;

          width: auto;
        }
      }
    }
  }
  &-information {
    display: flex;
    justify-content: space-between;

    width: 100%;
    &__text {
      display: flex;
      .number {
        color: var(--grayscale-50, #333);
      
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; 

        margin-right: 87px;

        @include responsive(tablet) {
          margin-right: 50px;
        }

        @include responsive(phone) {
          margin-right: 20px;
        }
      }
      .description {
        &-title {
          color: var(--grayscale-50, #333);
         
          font-size: 32px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%; 

          margin-bottom: 24px;
        }
        &-subtitle {
          color: var(--grayscale-50, #333);

          /* Poppins/Regular/18 */
         
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 28.8px */

          width: 469px;

          margin-bottom: 43px;

          @include responsive(phone) {
            width: auto;
          }
        }
      }
    }
    &__link {
    }
  }
}
