@import "./mixin.scss";

.products {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;

  margin-bottom: 100px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include responsive(tablet) {
    margin-bottom: 50px;
  }
  @include responsive(phone) {
    margin-bottom: 20px;
  }
  &-choose {
    width: 100%;
    &__name {
      color: var(--grayscale-50, #333);

      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;

      @include responsive(tablet) {
        margin-bottom: 20px;
      }
    }
    &__text {
      display: flex;
      justify-content: space-between;
      width: 100%;

      @include responsive(tablet) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
      .title {
        color: var(--grayscale-50, #333);

        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 170%;

        width: 337px;

        margin-bottom: 30px;

        @include responsive(tablet) {
          font-size: 30px;

          width: auto;
        }

        @include responsive(phone) {
          font-size: 22px;
          line-height: 100%;

          width: auto;
        }
      }
      .subtitle {
        color: var(--grayscale-10, #9c9c9c);

        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; 

        width: 473px;

        display: block;

        @include responsive(tablet) {
          margin-bottom: 20px;

          font-size: 16px;

          width: auto;

          text-align: center;
        }

        @include responsive(phone) {
          margin-bottom: 20px;

          width: auto;
        }
      }
    }
  }
  &-list {
    width: 100%;
  }
  .product {
    display: flex;
    justify-content: space-between;

    width: 100%;
    &__text {
      display: flex;
      .number {
        color: var(--grayscale-50, #333);

        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;

        margin-right: 87px;

        @include responsive(tablet) {
          font-size: 28px;

          margin-right: 50px;
        }

        @include responsive(phone) {
          font-size: 22px;

          margin-right: 20px;
        }
      }
      .description {
        &-title {
          color: var(--grayscale-50, #333);

          font-size: 32px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;

          margin-bottom: 24px;

          @include responsive(tablet) {
            font-size: 28px;

            margin-bottom: 16px;
          }
          @include responsive(phone) {
            font-size: 22px;

            margin-bottom: 14px;
          }
        }
        &-subtitle {
          color: var(--grayscale-50, #333);

          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%;

          width: 469px;

          margin-bottom: 43px;

          @include responsive(tablet) {
            font-size: 16px;

            margin-bottom: 25px;
          }

          @include responsive(phone) {
            width: auto;
          }
        }
      }
    }
    &__link {
    }
  }
}
