@import "./mixin.scss";

.service {
  display: flex;
  flex-direction: column;

  max-width: 1200px;
  margin: 0 auto;

  position: relative;

  margin-top: 320px;

  @include responsive(desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 16px;
  }

  @include responsive(tablet) {
    margin-top: 40px;
  }

  @include responsive(phone) {
    margin-top: 40px;

    margin-bottom: 40px;
  }

 &-information {
    width: 883px;

    position: absolute;
    top: -268px;
    background-color: #fff;
    left: -9%;

    @include responsive(desktop) {
      position: static;

      top: 0;
    }

    @include responsive(tablet) {
      max-width: 100%;
    }
  

    &__name {
      color: var(--grayscale-black, #000);

      /* Poppins/Medium/16 */
     
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 24px */

      margin-bottom: 20px;
    }
    &__name::after {
      content: "";
      position: absolute;
      top: 2%;
      height: 2px;
      background: #000;
    }
    &__name::after {
      left: 9%;
      right: -1000%;

      width: 683px;

      @include responsive(desktop) {
        display: none;
      }
    }
    &__title {
      color: var(--grayscale-50, #333);

      /* Poppins/SemiBold/36 */
     
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 170%; /* 61.2px */

      @include responsive(tablet) {
        font-size: 28px;
        line-height: 120%;
      }

      @include responsive(phone) {
        margin-bottom: 20px;

        font-size: 24px;
        line-height: 100%;
      }
    }
    &__subtitle {
      color: var(--grayscale-10, #9c9c9c);

      /* Poppins/Regular/18 */
     
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 28.8px */

      margin-bottom: 40px;

      width: 471px;

      @include responsive(tablet) {
        font-size: 16px;
        line-height: 100%;
      }

      @include responsive(phone) {
        width: auto;

        margin-bottom: 20px;
      }
    }
  }
  &-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 35px;

    &__text {
      display: flex;
      align-items: center;


      .number {
        color: var(--grayscale-50, #333);

        /* Poppins/SemiBold/24 */
       
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 33.6px */

        margin-right: 40px;

        @include responsive(phone) {
          margin-right: 20px;
        }
      }
      .text {
        color: var(--grayscale-50, #333);

        /* Poppins/SemiBold/24 */
       
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 33.6px */

        @include responsive(tablet) {
          font-size: 20px;

          line-height: 100%;
        }
      }
    }
    &__link {
      padding-right: 40px;
    }
  }
  &-img {
    max-width: 1076px;
    max-height: 682.518px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

@media screen and (max-width: 1441px) {
  .service {
   &-information {
      left: 0%;
    }
  }
}
